# PostgreSQL
POSTGRES_DB=booleandb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=root
PGADMIN_DEFAULT_PORT=5050

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
#SMTP_USER=
#SMTP_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=root

# API
API_PORT=8000
API_URL=http://localhost:8000

# Client
CLIENT_PORT=4200
CLIENT_URL=http://localhost:4200

# Nginx
NGINX_PORT=80

# Observability
PROMETHEUS_PORT=9090
LOKI_PORT=3100
LOKI_HOST=http://loki:3100
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=root

# Mode
NODE_ENV=production